*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}


.title-about{
    font-size: 24px;
    color: #004aad;
    margin: 60px 15px;
    margin-bottom: 30px;

}

h3, p{
    margin: 0px 15px;
}

.about-photo{
    width: 100%;
    height: auto;
    margin: 0%;
  }

.button-back{
    background-color: #004aad;
    padding: 7px 16px;
    border-radius:8px ;
    font-size: 20px;
    color: bisque;
    float: right;
    margin-right: 10px;
}

@media screen and (min-width: 1200px){

    h1.title-about{
        text-align: center;
        margin: 50px 0px;
    }

    .about-photo{
        display: block;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
       
    }

    .button-a-back{
        float: right;
    }
}