*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    margin: 15px;
}

.title-about{
    font-size: 24px;
    color: #004aad;
    margin-top: 60px;
    margin-bottom: 20px;
}

.about-photo{
    display: block;
 
    max-width: 100%;
  
  }