
.h2-title{
    margin-bottom: 20px;
    color: black;
     
}
.card{
    background-color: #fff;
    height: auto;
    margin-bottom: 30px;
    padding: 0px 2.5px 2.5px 10px;
}

.h3-title{
    padding: 10px;
    text-align: center;
}

hr{
    margin-bottom: 10px;
    width: auto;
}

.map{
    display: block;
    border-radius: 5px;
    max-width: 100%;
    
}

.p-text{
    margin-top: 20px;
}

.text{
    padding: 10px;
    text-align: start;
}