
.h2-title{
    margin-bottom: 40px;
    color: black;
     
}
.card{
    background-color: #fff;
    height: auto;
    padding: 10px 2.5px 2.5px 10px;
    height: 400px;
}



.h3-title{
    margin-top: 17px;
    padding: 5px;
    text-align: center;
}


.map{
    display: block;
    border-radius: 5px;
    max-width: 100%;
    padding: 10px;
    
}

.p-text{
    margin: 10px;
    text-align: start;
}

.input-form-textarea{
    text-align: start;
}

#button-form {
    margin-top: 7px;
    border: none;
    padding: 15px 10px;
    border-radius: 8px;
    background: #004aad;
    font-size: 17px;
    color: #e9edef;
    font-weight: 600;

  }

