
.h2-title{
    margin-top: 10px;
    margin-bottom: 40px;
    color: black;
     
}
.card{
    background-color: #f8f8ff;;
    height: auto;
    padding: 10px 2.5px 2.5px 10px;
    display: flexbox;
    margin: 15px 14px;
}



.h3-title{
    margin-top: 17px;
    padding: 5px;
    text-align: center;
}

.form-card{
    display: flow-root;
    height: auto;
}

.map{
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 5px;
    padding: 10px;
}

.p-text{
    margin: 10px;
    text-align: start;
}

.input-form-textarea{
    text-align: start;
}

#button-form {
    margin-top: 7px;
    border: none;
    padding: 15px 10px;
    border-radius: 8px;
    background: #004aad;
    font-size: 17px;
    color: #e9edef;
    font-weight: 600;
    
  }



