/* Reset */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    margin-top: 3px;
    color: black;
    padding: 40px 16px 40px 16px;
    text-decoration: none;
    font-size: 24px;
    display: block;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .active {
    background-color: white;
    color: white;
  }

  .center{
    text-align: center;
  }

.logo-png{
    width: 100px;
    height: auto;
}

.title{
    font-size: 16px;
    padding-top: 100px;
    padding-left: 16px;
    color: #004aad;
    margin-bottom: 30px;
    
}

span{
    padding: 10px;
    border-radius: 130px;
    background-color: #004aad;
    color: #f8fdfc;

}

.discount-image{
  width: 150px;
  margin-right: 16px;
  float: right;
}

.page-2-title{
  margin-top: 220px;
  color: #004aad;

}

.text-page-2{
 padding: 40px 16px;
 line-height: 1.5;
 margin-bottom: 30px;
 
}