/* Reset */

*{
  margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
  background: #e9edef;
  
}

.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    position: relative;
    
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    margin-top: 3px;
    color: black;
    padding: 40px 16px 40px 16px;
    text-decoration: none;
    font-size: 24px;
    display: block;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .active {
    background-color: white;
    color: white;
  }

  .center{
    text-align: center;
  }

.logo-png{
    width: 100px;
    height: auto;
}

.title{
    font-size: 24px;
    padding: 80px 8px 8px 8px;
    color: #004aad;
    margin-bottom: 30px;
    
}

.tel{
    padding: 10px;
    border-radius: 130px;
    background-color: #004aad;
    color: #f8fdfc;

}

.discount-image{
  width: 150px;
  margin-right: 16px;
  float: right;
}

.page-2-title{
  margin-top: 220px;
  color: #004aad;

}

.text-page-2{
 padding: 40px 16px;
 line-height: 1.5;
 margin-bottom: 30px;
 
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 0px;
  margin: 10px;
  justify-content: center;
  align-items: center;

}

.card{
  box-shadow: 3px 3px 2px #9aa7b2;
  margin: 3px 4px;
  text-align: center;
  border-radius: 5px;
  height: auto;
  background: #f8f8ff;



}

.img-card{
  width: 116px;
  height: 100px;

}

.text-a{
  font-size: 16px;
}

.a-link{
  border-radius: 30px;

}

.span-text{
  padding: 5px 25px;
  background-color: red;
  font-weight: 500;
  border-radius: 130px;
  color: #f8fdfc;
}

.text-box{
  background-color: #004aad;
  color: #f8fdfc;
  padding: 20px 20px;
  margin-top: 30px;
  line-height: 1.5;
  text-align: center;
  font-size: 15px;

  


}

.form-card{
  box-shadow: 3px 3px 2px #9aa7b2;
  display: flex;
  height: auto;
  margin: 15px 14px;
  padding: 20px;
  border-radius: 10px;
  background: #f8f8ff;

}

.form-h3{
  color: #004aad;
}

input{
  border: 2px solid black;
  padding: 5px;
  border-radius: 20px;
  font-size: large;
  
}

select{
  padding: 5px;
  border: 2px solid black;
  background: transparent;
  border-radius: 5px;
  text-align: center;
  font-size: large;

}

#start{
  padding: 5px;
  border: 2px solid black;
  background: transparent;
  border-radius: 5px;
}

#button-form{
  border: 2px solid black;
  padding: 5px;
  border-radius: 3px;
  background: transparent;
  float: right;
  font-size: large;
}

label{
  line-height: 30px;
  font-size: 18px;
}

